/* #region Commons */
:root {
    --bz-primary: #ff6900;
    --bz-light:#ffffff;
    --bz-dark:#1a1a1a;
    --bz-special-label:#008000;
    --bz-dark-discount:#ff0000;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--bz-light);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/* #endregion Commons */

/* #region Utilities */
.container{
    width: 80%;
    margin: auto;
}

nav{
    color: var(--bz-light);
    background-color: var(--bz-primary);
    height: 3rem;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer_container{
    background-color: var(--bz-dark);
    height: 3rem;
    color: var(--bz-light);
}

.flex_container{
    display: flex;
    justify-items: center;
    flex-wrap: wrap;
}
/* #endregion Utilities */

/* #region Header */

.gender_option, .navigation_icon{
    width: 33%;
}

.logo{
    width: 34%;
}
.gender_list {
    list-style: none;
    display:flex;
    justify-content:center;
}
.gender{
    color: var(--bz-light);
    font-size: 0.9rem;
    padding: 0.3rem;
    text-decoration: none;
}
/* #endregion Header */

/* #region Main */
.product_image{
    position: relative;
}

.label_position {
    position: absolute;
    left: 0%;
    bottom: 5%;
}

.card {
    width: 33%;
    margin-top: 2rem;
    background-color: aqua;
    border: 2px solid;

}

.discount{
    background-color: var(--bz-dark-discount);
    color: white;
    font-size: 0.7rem;
    padding: 0.3rem;
}

.spacial_label{
    background-color: var(--bz-special-label);
    color: white;
    font-size: 0.7rem;
    padding: 0.3rem;
}

.like{
    background-color: var(--bz-light);
    display: inline;
    padding: 0.5rem 0.6rem;
    position: absolute;
    right: 0;
    top: 0.5rem;

    
}


.product_image{
    height: 640px;
    background-color: aquamarine;
}

.brand, .product_price {
    font-size: 0.8rem;
}

/* #endregion Main */
footer{
    margin-top: 2rem;
}

/* #endregion Footer */
