/* #region Commons */
:root {
    --bz-primary: #ff6900;
    --bz-light:#ffffff;
    --bz-dark:#1a1a1a;
    --bz-special-label:#008000;
    --bz-dark-discount:#ff0000;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--bz-light);
}
/* #endregion Commons */

/* #region Utilities */
.container{
    width: 80%;
    margin: auto;
}

nav{
    background-color: var(--bz-primary);
    height: 5rem
}

.footer_container{
    background-color: var(--bz-dark);
    height: 5rem;
    color: var(--bz-light);
}
/* #endregion Utilities */

/* #region Debug */
.debug{
}
/* #endregion Debug */


